*.user
*.blend1
*.ncb
*.opt
*.plg
.vs
build*/*
**/*.keystore
**/bin/*
**/Debug/*
**/Release/*
data/*.db
data/*.bin
android/bin
android/gen
android/libs
android/obj
android/qbarcade-release-key.keystore
assets/reference/*